<div class="row mb-3">
  <div class="col-12 d-flex">
    <div class="card h-lg-100 w-100 overflow-hidden">
      <div class="card-body">
        <div class="starting-content pe-5">
          @if(!hasLoggedIn){
          <h3>Bem-vindo</h3>
          <p class="lead text-muted mb-2">
            Seja bem-vindo ao Portal Hub. Faça o login para aproveitar melhor os recursos.
          </p>
          <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
            <i class="fa fa-sign-in"></i>
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
          } @else {
            <h3>Bem-vindo, {{user?.name}}!</h3>
            <p class="lead text-muted mb-2">
              Aqui você encontra toda a documentação de nossas bibliotecas, APIs e produtos internos.
            </p>
          }
        </div>
      </div>
    </div>
  </div>
</div>

